*.rbxl
*.rbxl.lock

# Since selene is no longer update and buffer.readbits/writebits didn't record in the standard library
# I have to modify the library to stop selene reporting the issue from "incorrect_standard_library_use"
*roblox.yml